config  DISPLAY_BRIDGE_TOSHIBA_TC35876X_ENABLED
        tristate "Enable Display Via Toshiba Video bridge TC35876X "
	depends on DRM_I915
        default n
	help
         Say Y here if you want to Enable Display Via Toshiba Video bridge TC35876X

config  DISPLAY_BRIDGE_TOSHIBA_TC35876X_AUO_B101XTN01_1
	tristate "Enable AUO B101XTN01_1 Display Via Toshiba Video bridge TC35876X "
	depends on DRM_I915
	default n
      	help
	 Say Y here if you want to Enable AUO B101XTN01_1 Display Via Toshiba Video bridge TC35876X

config  DISPLAY_BRIDGE_TOSHIBA_TC35876X_AUO_B101EAN02_0
        tristate "Enable AUO B080EAN02_0 Display Via Toshiba Video bridge TC35876X "
	depends on DRM_I915
	default n
	help
         Say Y here if you want to Enable AUO_B101EANO2_0 Display Via Toshiba Video bridge TC35876X

config  DISPLAY_BRIDGE_TOSHIBA_TC35876X_CPT_CLA070WP03
        tristate "Enable AUO CLA070WP03 Display Via Toshiba Video bridge TC35876X "
	depends on DRM_I915
	default n
	help
         Say Y here if you want to Enable CPT CLA070WP03 Display Via Toshiba Video bridge TC35876X

config  DISPLAY_BRIDGE_TOSHIBA_TC35876X_CMI_N1ICG
        tristate "Enable CMI N1ICG Display Via Toshiba Video bridge TC35876X "
	depends on DRM_I915
	default n
	help
         Say Y here if you want to Enable CMI N1ICG Display Via Toshiba Video bridge TC35876X

config  DISPLAY_BRIDGE_TOSHIBA_TC35876X_CENTURY_BI097XN02
        tristate "Enable CENTURY BI097XN02 Display Via Toshiba Video bridge TC35876X "
	depends on DRM_I915
	default n
	help
         Say Y here if you want to Enable CENTURY BI097XN02 Display Via Toshiba Video bridge TC35876X

	
