
menuconfig X86_INTEL_SOFIA
	bool "Intel SoFIA virtualization"
	select X86_INTEL_XGOLD_VPIC
	select HAVE_DMA_CONTIGUOUS
	select NKERNEL_DDI
	select MOBILEVISOR_VDRIVER
	    help
	Select this options if the kernel is running on top of
	a proprietary VMM as a VM.

config NKERNEL_DDI
	bool

config SOFIA_BOARD_ID
        bool

config MOBILEVISOR_VDRIVER
	bool

menuconfig SOFIA_LOWMEM_DEV
	bool "Sofia low memory version of device"
	default n
	depends on X86_INTEL_SOFIA
	help
	Select this if the target sofia platform
	only has limited memory which needs special
	memory optimization

menuconfig SOFIA_512M_DEV
	bool "Sofia device with 512MB RAM"
	default n
	depends on X86_INTEL_SOFIA
	help
	Select this if the target sofia platform
	only has 512M memory
